<div class="container">
            <h2 class="text-white">We <i class="fa fa-heart-o" style="font-size:36px"></i> New Friends</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-facebook">
                    <a href="#">
                    <i class="fa fa-facebook-official" style="font-size:40px;color:whitesmoke"></i>
                    </a>
                </li>
                <li class="list-inline-item social-twitter">
                    <a href="#">
                    <i class="fa fa-twitter-square" style="font-size:40px;color:whitesmoke"></i>
                    </a>
                </li>
                    <a href="#">
                    <li class="list-inline-item social-google">
                    <i class="fa fa-google-plus-square" style="font-size:40px;color:whitesmoke"></i>
                    </a>
                </li>
            </ul>
        </div>