<div class="cta-content">
            <div class="container">
                <h2>Stop Waiting.</h2>
                <br>
                <h2>Start Breeding.</h2>
                <a href="/maws/add" class="btn btn-dark btn-xl">Make maw</a>
            </div>
        </div>
        <div class="overlay"></div>