<div class="jumbotron text-center">
    <img src="/img/FirstMaw.png" class="img-fluid mb-5 d-block mx-auto" alt="error">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead"> Create Your first Maw Here!</p>
    <a href="/maws/add" class="btn btn-dark btn-lg">Make maw</a>
</div>