header{
height:100vh;   

}
.navbar{
    background-color: #63d2ff
}
.navbar-brand{
    color:#ffc5f6
}
body{
    position: relative;
}
section.cta {

    position: relative;
    padding: 250px 0;
    background-image: url(../img/maw4.png);
    background-position: center;
    background-size: cover;
}
section.cta .cta-content{
    position:relative;
    z-index:1;
}
section.cta .cta-content h2 {
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;

}
section.cta .overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

section.contact{
    padding:100px 0;
    text-align: center;
}