<div class="container" ng-controller='dashboardController'>
		<br>	<br>		
		<h4>Breeding API dashboard</h4>
		<b><small> {{ user.username }} | <a ng-click='logout()' href="javascript:void(0)">Log Out</a> </small></b>
		<br>	<br>	
		<div class="row">
				<div class="col-md-3">
					<div  ng-if=' user.priv.includes("admin") '>
						<div class="card">
								<div class="card-body">	
									<b>	Administrator </b> <br>	
									<ul>
										<li> <a href="javascript:void(0)" ng-click='goto("/users")'>Users</a></li>
									</ul>
								</div>	
						</div>	<br>	
					</div>
					<div class="card">
							<div class="card-body">	
								<b>	Maw </b> <br>	
								<ul>
									<li>Geneset</li>
									<li>Alelle</li>
									<li>Features</li>
									<li>Assets</li>
								</ul>
							</div>	
					</div>	<br>	
					<div class="card">
							<div class="card-body">	
								<b>	References </b> <br>	
								<ul>
									<li>Maw Structure</li>
									<li>About</li>
									<li>Contact Information</li>
									<li>Privacy Policy</li>
									<li>Terms and Conditions</li>
								</ul>
							</div>			
					</div>	<br>	
				</div>	
				<div class="col-md-9">	
					<div class="card">	
							<div class="card-body">	
									<div class="container">	
											<b>HOME</b> > Geneset > Genes > Feature 1
									</div>
							</div>
					</div>
				</div>
		</div>
</div>