<!DOCTYPE html>
<html>
<head>
	<title>Breeding API</title>
	<link rel="stylesheet" type="text/css" href="/breeding/res/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src ="/breeding/res/angular/angular.js"></script>
	<script type="text/javascript" src="/breeding/res/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/breeding/res/local/script.js"></script>
</head>
<body ng-app='site'>

<ng-view></ng-view>

<!-- scripts -->
<script type="text/javascript" src ="/breeding/res/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>