<!DOCTYPE html>
<html>
<head>
	<title>Try</title>
	<link rel="stylesheet" type="text/css" href="/breeding/res/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container text-center">
		<br><br><br><br><br><br>
		<h5>Breeding API</h5>
		<p>Please log in as Administrator to continue.</p>
		<div class="container col-md-4">
			<hr>

					<label>Username</label> <br>		
			 		<input class="form-control" type="text" name="username">

			 		<br>

					<label>Password</label> <br>		
			 		<input class="form-control" type="password" name="password">
			 		<br>
			 		<button class="btn btn-primary">Log In</button>
		</div>
	</div>


<!-- scripts -->
<script type="text/javascript" src ="/breeding/res/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>